@import '@fontsource/oxanium';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-body: system-ui, sans-serif;
	--font-mono: monospace;
	--font-logo: 'Oxanium', system-ui, sans-serif;
	--color-bg-0: rgb(25, 30, 35);
	--color-bg-1: hsl(210, 59%, 23%);
	--color-bg-2: hsl(224, 65%, 10%);
	--color-theme-1: #2870f7;
	--color-theme-2: #4f8fa6;
	--color-text: rgba(255, 255, 255, 0.95);
	--color-text-muted: rgba(255, 255, 255, 0.6);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
	font-size: 18px;
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
	background-image: radial-gradient(60% 60% at 50% 50%, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%),
		linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
}

.logo {
	font-family: var(--font-logo);
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(0, 0, 0, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.25);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

h1 {
	@apply my-12 text-4xl font-bold;
	@apply text-indigo-400;
}

h2 {
	@apply my-8 text-3xl font-bold;
	@apply text-indigo-300;
}

h3 {
	@apply mb-4 text-2xl font-bold;
	@apply text-indigo-300;
}

h4 {
	@apply mb-2 text-xl font-bold;
	@apply text-indigo-300;
}

h5 {
	@apply mb-2 text-base font-bold;
	@apply text-indigo-300;
}

p {
	@apply my-4;
}

.block {
	@apply flex flex-col items-center justify-center;
	flex: 0.4;
}

@media (min-width: 720px) {
	h1 {
		@apply text-5xl;
	}
}
